.card-add-container {
  text-decoration: none;
  &:focus, &:hover, &:visited, &:link, &:active {
    text-decoration: none;
  }
  
  .card-add-item {
    width: 35rem;
    height: 24.5rem;
    background: var(--color-box-base);
    border: 1px solid var(--color-line-in-white);
    border-radius: 0.8rem;
    margin-top: 2.4rem;
    margin-left: 1rem;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    span {
      font-size: 2rem;
      margin-top: 1rem;
    }

    .add-icon-container {
      background: var(--color-primary);
      padding: 3rem;
      border-radius: 50%;
      width: 11rem;
      height: 11rem;
    }
  }
}
  
@media (min-width: 700px) {
  .card-add-item {
    height: 35rem;
  }
}
